<div class="oc-bar-col">
  $atm_marker
  <div class="oc-bar-stack" style="height:${CH}px">
    <div class="oc-combined-bar">
      <div class="bar-put $put_top_cls" style="height:${ph_top}px;display:${p_top_show};$put_top_style"></div>
      <div class="bar-put $put_base_cls" style="height:${ph_base}px;$put_base_style"></div>
    </div>
    <div class="oc-combined-bar">
      <div class="bar-call $call_top_cls" style="height:${ch_top}px;display:${c_top_show};$call_top_style"></div>
      <div class="bar-call $call_base_cls" style="height:${ch_base}px;$call_base_style"></div>
    </div>
  </div>
  <div class="strike-label $strike_cls">$strike_display</div>
</div>
