<div class="oi-row">
  <span class="oi-ts">[$ts_display]</span>
  <span class="oi-text"><span class="muted">Bullish:</span> <span class="val val--green">$bull_val</span> <span class="muted">| Bearish:</span> <span class="val val--red">$bear_val</span></span>
  <div class="oi-bar">
    <div class="oi-bar__bull" style="width:$b_pct%"><span class="oi-bar__label">$b_pct%</span></div>
    <div class="oi-bar__bear" style="width:$br_pct%"><span class="oi-bar__label">$br_pct%</span></div>
  </div>
</div>
