<tr class="oc-top-oi-unified__row">
  <td class="oc-top-oi-unified__td oc-top-oi-unified__td--rank oc-top-oi-unified__td--call-rank" style="$call_rank_style">$call_rank</td>
  <td class="oc-top-oi-unified__td oc-top-oi-unified__td--oi oc-top-oi-unified__td--call-oi" style="$call_oi_style">$call_oi</td>
  <td class="oc-top-oi-unified__td oc-top-oi-unified__td--common-strike">$common_strike</td>
  <td class="oc-top-oi-unified__td oc-top-oi-unified__td--oi oc-top-oi-unified__td--put-oi" style="$put_oi_style">$put_oi</td>
  <td class="oc-top-oi-unified__td oc-top-oi-unified__td--rank oc-top-oi-unified__td--put-rank" style="$put_rank_style">$put_rank</td>
</tr>
